body{
	background-color:#DDE5E4;
}
.title{
	width: 600px;
	height: 76px;
	margin: auto;
	margin-top: 90px;
	text-align: center;
	font-family:'Poiret One', cursive ; 
	font-size: 53px;
	color: #B76B45;
}
#start_page img{
	margin-top: 70px;
}
#start_page p{
	width: 550px;
	height: 76px;
	margin: auto;
	margin-top: 150px;
	text-align: center;
	
}
.wrapper{
	text-align: center;
}
.text{
	text-align: center;
	width: 300px;
	margin: 0 auto;
	font-size: 17px;
}
.questions p{
	text-align: center;
	/*font-family: 'Playfair Display', serif;*/
}
h2 {
	/*font-family: 'Playfair Display', serif;*/
	font-family: 'Cinzel', serif;
	
	text-align: center;
	color: #B76B45;
	font-size: 30px;
}
h3{
	text-align: center;
	color: #B76B45;
	font-size: 15px;
}

.feedback{
	text-align: center;
}
form{
	width: 300px;
	margin: 0 auto;
}
.answers{
	list-style: none;
}
/*.button:focus {
    border: 2px solid white;
}*/
#questions_page{
	display: none;
}
#results{
	display: none;
}
